<body class="" data-action="pjActionCustom1" data-page="reservations" data-editor="http://trials.vevs.website/web-demo/car-parking-website/index.php?controller=pjCmsEditor&amp;action=pjActionLoadScript&amp;web_page_id=13&amp;locale_id=4&amp;fields=front_fields&amp;template=template_1">
    <div class="wrapper">
        <div class="hero-section cms-e-section" style="background-image: url(&quot;http://trials.vevs.website/web-demo/car-parking-website/app/web/upload/medium/1920x400-137-1578941898.jpg&quot;);">
            <img src="http://trials.vevs.website/web-demo/car-parking-website/app/web/upload/medium/1920x400-137-1578941898.jpg" alt="" title="" data-id="137" class="hero-img hidden wc-image">

            <div class="container">
                <h1 class="h1"><span class="wc-editable" data-pk="custom_68c1de49669a4eb915213084a137296a" data-type="text">{{'CHAT.forgot' | translate }}</span></h1>
                <div class="paragragh"><span class="wc-editable" data-pk="custom_ff93be33d81a3716cbb7bd43b11015ee" data-type="plaintext"></span></div>
            </div>
        </div>

        <div class="section">
            <div class="container">
                <div class="section-content">
                    <div id="pjCpContainer">
                        <div class="row">
                            <div class="col-lg-10 col-lg-offset-1 col-xs-12">


                                <div class="py-5">
                                    <div class="row">
                                        <div class="col-md-6 mx-auto">
                                            <span class="anchor" id="formLogin"></span>

                                            <!-- form card login -->
                                            <div class="card rounded-0">
                                                <div class="card-header">
                                                    <h3 class="mb-0">{{'CHAT.forgot' | translate }}</h3>
                                                </div>
                                                <div class="card-body">
                                                    <form class="form">
                                                        <div class="form-group">
                                                            <label for="uname1">{{'CHAT.username' | translate }}</label>
                                                            <input type="text" [(ngModel)]="registerUserData.email" name="email" class="form-control rounded-0" required>
                                                        </div>
                                                        <div class="alert alert-danger" role="alert" *ngIf="valid == true">
                                                            {{'CHAT.cond1' | translate }}
                                                        </div>
                                                        <div class="form-group">
                                                            <label>{{'CHAT.password' | translate }}</label>
                                                            <input type="password" [(ngModel)]="registerUserData.password" name="password" class="form-control rounded-0" required>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>{{'CHAT.rpassword' | translate }}</label>
                                                            <input type="password" [(ngModel)]="password" name="password" class="form-control rounded-0" required>
                                                        </div>
                                                        <div class="alert alert-danger text-center" role="alert" *ngIf="length == true">
                                                            {{'CHAT.cond2' | translate }}
                                                        </div>
                                                        <div class="alert alert-danger text-center" role="alert" *ngIf="pass == true">
                                                            {{'CHAT.cond3' | translate }}
                                                        </div>


                                                        <button type="button" (click)="registerUser()" class="btn btn-primary float-right">{{'CHAT.signup' | translate }}</button>
                                                    </form>
                                                </div>
                                                <!--/card-block-->
                                            </div>
                                            <!-- /form card login -->

                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer" id="section-contact">
            <div class="footer-nav">
                <div class="container cms-e-section">

                </div>
            </div>
            <div class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <p class="copyright cms-e-section">© 2020 <a href="./"><span class="wc-editable" data-pk="ws_car_name"
data-type="text">gestion de stock</span></a> | <span class="wc-editable" data-pk="ws_rights_reserved" data-type="text">All rights reserved</span></p>

                            <!-- <p class="credits credits-secondary"><a href="https://www.vevs.com/car-parking-websites/" target="_blank" rel="noopener">Car Parking Website Builder</a> by <a href="https://www.vevs.com/" target="_blank" rel="noopener">VEVS.com</a></p> -->
                        </div>
                        <div class="col-sm-6 col-xs-12 text-right">
                            <ul class="socials socials-secondary cms-e-section">
                                <li><a href="https://www.facebook.com" target="_blank" class="ico" rel="noopener"><i
class="fa fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com" target="_blank" class="ico" rel="noopener"><i
class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.linkedin.com" target="_blank" class="ico" rel="noopener"><i
class="fa fa-linkedin"></i></a></li>
                                <li><a href="https://www.instagram.com" target="_blank" class="ico" rel="noopener"><i
class="fa fa-instagram"></i></a></li>
                                <li><a href="https://www.pinterest.com" target="_blank" class="ico" rel="noopener"><i
class="fa fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>


    <div>
        <link rel="stylesheet" type="text/css" href="http://trials.vevs.website/web-demo/car-parking-website/index.php?controller=pjFront&amp;action=pjActionLoadCss&amp;a=pjActionCustom1&amp;widget=on&amp;script_id=8&amp;demo=1&amp;template=template_1&amp;theme=theme1&amp;font=Lato&amp;hmac=526ccdcf6f2d84d2748639418c6f7953"
            id="deferred-sheet">

    </div>


</body>